:root {
    --main-bg-color: #181642;
    --btn-color: #e61c7e;
    --btn-color-hover: #dd334dde;
    --text-color: white;
}

.heading-colors {
    color: var(--btn-color);
    letter-spacing: 2px;
}

.main-bg {
    background-color: var(--main-bg-color);
}

.btn-style {
    color: var(--text-color);
    background: var(--btn-color);
    transition: background 0.5s ease-in-out;
}

.btn-style:hover {
    color: var(--text-color);
    background: var(--btn-color);
}
#table-container{
    border: 2px solid var(--btn-color);
    box-shadow: 0px 0px 10px 2px var(--btn-color);
}
#table-container:hover{
    border: 2px solid var(--btn-color);
    box-shadow: 0px 0px 20px 5px var(--btn-color-hover);
}