<main>
    <div class="container-fluid mx-0" id="main-box-container">
        <div class="row d-flex justify-content-center align-items-center" id="main-box-info">
            
            <!-- Ensure proper column width for responsiveness -->
            <div class="col-lg-6 col-md-8 col-12">
                <div class="container main-box m-5 mx-3 d-flex align-items-start p-md-4 p-3 text-center text-md-start">
                    <div class="row">
                        <div class="col-12 mb-2">
                            <h1 class="fs-1 fw-lighter font-monospace heading-colors">
                                A comprehensive platform for reliable
                            </h1>
                        </div>
                        <div class="col-12 mb-2" id="rotatingtext-container">
                            <h2 id="rotatingtext" class="fs-3 font-monospace fw-normal">
                                Job opportunities and internships.
                            </h2>
                        </div>
                        <div class="col-12 mb-2">
                            <h4 class="fs-6 fw-light font-monospace text-white">
                                Get Discovered. Get Hired.
                            </h4>
                        </div>
                        
                        <!-- Buttons: Stack on small screens, inline on larger screens -->
                        <div class="col-12 d-grid gap-2 d-md-flex justify-content-md-start">
                            <% if (user) { %>
                                <a class="btn btn-style fs-5" href="/newjob">
                                    Post New Job
                                </a>
                            <% } else { %>
                                <a class="btn btn-style fs-5" href="/jobs">
                                    I'm a Job Seeker
                                </a>
                            <% } %>

                            <% if (user) { %>
                                <a class="btn btn-style fs-5" href="/jobs/<%=user.uid%>">
                                    Your Posted Job's
                                </a>
                            <% } else { %>
                                <button class="btn btn-style fs-5" data-bs-target="#exampleModalToggle" data-bs-toggle="modal">
                                    I'm a Recruiter
                                </button>
                            <% } %>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Image Container for Banner -->
            <div class="col-lg-6 col-md-8 col-12 d-flex justify-content-center">
                <div id="main-box-image-container">
                    <div id="banner-image"></div>
                </div>
            </div>

        </div>
        <div class="col-12" id="main-background"></div>
    </div>
</main>
