<main>
    <div id="newform-container" class="container-fluid">
        <div id="newform-main-background" class="col-12 d-flex align-items-center justify-content-center">
            <div id="newform-form-container" class="row d-flex align-items-center">
                <div id="newform-main-container" class="col-12 p-3">
                    <form action="/newjob" method="post"
                        class="col-12 d-flex flex-wrap justify-content-center align-items-center">
                        <h1 class="fs-1 mb-4 fw-lighter heading-colors font-monospace">Post A New Job</h1>
                        <input name="uid" type="text" hidden value="<%=user.uid%>">
                        <input name="u_name" type="text" hidden value="<%=user.name%>">
                        <div class="col-12 mb-2">
                            <label for="inputAddress" class="form-label">Enter Company's Name</label>
                            <input name="jobCompany" type="text" class="form-control" id="inputAddress" placeholder="Eg:-Infosys,Tcs">
                        </div>
                        <select name="jobCategory" class="col-12 form-select mb-2" aria-label="Default select example">
                            <option selected>Select Job Category</option>
                            <option value="tech">Tech</option>
                            <option value="nontech">Non Tech</option>
                        </select>
                        <select name="jobDesignation" class="col-12 form-select mb-2" aria-label="Default select example">
                            <option selected>Select Job Desgination</option>
                            <option value="HR">HR</option>
                            <option value="SDE">SDE</option>
                            <option value="DevOps">DevOps</option>
                            <option value="MERN Developer">MERN Developer</option>
                            <option value="MEAN Developer">MEAN Developer</option>
                            <option value="JAVA Developer">JAVA Developer</option>
                            <option value="Front-End Developer">Front-End Developer</option>
                            <option value="Back-End Developer">Back-End Developer</option>
                            <option value="Full-Stack Developer">Full-Stack Developer</option>
                        </select>
                        <div class="col-12 mb-2">
                            <label for="inputAddress" class="form-label">Enter Job Location</label>
                            <input name="jobLocation" type="text" class="form-control" id="inputAddress" placeholder="Eg:-Pune,Mumbai">
                        </div>
                        <div class="mb-2 col-sm-12 col-md-6">
                            <label for="inputAddress" class="form-label">Enter Salay in Rupees</label>
                            <input name="jobSalary" type="number" class="form-control" id="inputAddress" placeholder="100000">
                        </div>
                        <div class="mb-2 col-sm-12 col-md-6">
                            <label for="inputAddress" class="form-label">Number Of Position</label>
                            <input name="jobPosition" type="number" class="form-control" id="inputAddress" placeholder="1~10">
                        </div>
                        <div class="col-md-12 col-lg-6 mb-2">
                            <select name="jobSkills" class="form-select" multiple aria-label="Multiple select example">
                                <option selected disabled>Select Skills Required For The Job</option>
                                <option value="React">React</option>
                                <option value="Node">Node</option>
                                <option value="Express">Express</option>
                                <option value="Angular">Angular</option>
                                <option value="MongoDb">MongoDb</option>
                                <option value="Java">Java</option>
                                <option value="Spring Boot">Spring Boot</option>
                                <option value="C++">C++</option>
                                <option value=">Data Structure & Algo">Data Structure & Algo</option>
                            </select>
                        </div>
                        <div class="mb-2 col-md-12 col-lg-6">
                            <div class="input-group flex-nowrap">
                                <span class="input-group-text" id="addon-wrapping">Apply By</span>
                                <input name="jobApplyBy" type="date" class="form-control" aria-label="Username"
                                    aria-describedby="addon-wrapping">
                            </div>
                        </div>
                        <div class="col-12 mb-2">
                            <button style="width: 100%;" class="btn btn-style" type="submit">Submit form</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</main>